# Configuration file
/CONFIG

# Default build directory
/build

# Miscellaneous scattered built files
*.pyc
*~
*.state

# Default folder where MBF config file should be copied
/epics

# Put stuff we want to ignore here
/ignore
